<template>
  <div class="container grid-lg">
    <div class="columns">
      <div class="col-4 col-xs-12 col-sm-12 col-mx-auto">
        <div class="card mt-2">
          <div class="card-body">
            <form 
              ref="formulario" 
              method="post" 
              @submit.prevent="submit">
              <fieldset>
              
                <div class="form-group">
                  <label 
                    class="form-label" 
                    for="input-email">Email</label>
                  <input 
                    id="input-email"
                    name="email" 
                    class="form-input" 
                    type="email" 
                    placeholder="Email">
                </div>

                <div class="form-group">
                  <label 
                    class="form-label" 
                    for="input-password">Password</label>
                  <input 
                    id="input-password"
                    name="password" 
                    class="form-input" 
                    type="password" 
                    placeholder="Password">
                </div>

              </fieldset>
              <button 
                class="btn" 
                type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from '../../axios';
import Cookie from 'js-cookie';
import Noty from 'noty';

export default {
  methods: {
    submit() {
      const { email, password } = this.$refs.formulario.elements;

      Axios.post('autentificar', { email: email.value, password: password.value })
        .then(({ data }) => {
          Cookie.set('access_token', data);
          window.location.replace('/');
        })
        .catch(
          () =>
            new Noty({
              timeout: 600,
              theme: 'spectrecss',
              text: 'Credenciales invalidas.',
              type: 'error',
            })
        );
    },
  },
};
</script>
