<template>
  <div class="form-autocomplete">
    <!-- autocomplete input container -->
    <div 
      ref="input" 
      class="form-autocomplete-input form-input">

      <!-- autocomplete chips -->
      <chip-user 
        v-for="(user, i) in seleccionados" 
        :key="`chip-${i}`" 
        :has-close="true"
        :user="user"
        @close="quitar"/>

      <!-- autocomplete real input box -->
      <input 
        v-model="consulta"
        name="user_id"
        class="form-input" 
        type="text"
        placeholder="buscar..."
        autocomplete="off"
        @keyup="filtrar">
    </div>

    <!-- autocomplete suggestion list -->
    <ul 
      v-show="buscando" 
      class="menu">
      <!-- menu list items -->
      <li 
        v-for="(user, i) in filtrados" 
        :key="`menu-item-${i}`" 
        class="menu-item">
        <a 
          @click="seleccionar(user)">
          <div class="tile tile-centered">
            <div class="tile-icon">
              <img 
                src="" 
                class="avatar avatar-sm" 
                alt="NA">
            </div>
            <div 
              class="tile-content" 
              v-text="user.nombre"/>
          </div>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Fuse from 'fuse.js';
import ChipUser from './ChipUser';

export default {
  components: {
    ChipUser,
  },

  props: {
    value: {
      type: [Array],
      default: () => [],
    },
  },

  data() {
    return {
      consulta: null,
      seleccionados: this.value,
      buscando: false,
      filtrados: [],
    };
  },

  computed: {
    ...mapState({
      users: state => state.users,
    }),

    disponibles() {
      const ids = this.seleccionados.map(({ id }) => id);
      return this.users.filter(({ id }) => !ids.includes(id));
    },
  },

  watch: {
    consulta(value) {
      this.filtrar(value);
    },

    value(users) {
      this.seleccionados = users;
    },
  },

  created() {},

  methods: {
    emitirInput() {
      this.$emit('input', this.seleccionados);
    },

    quitar({ id }) {
      this.seleccionados = this.seleccionados.filter(({ id: userId }) => id !== userId);
      this.emitirInput();
    },

    seleccionar(user) {
      this.seleccionados.push(user);
      this.buscando = false;
      this.filtrados = [];
      this.consulta = null;
      this.emitirInput();
    },

    tocarFoco() {
      this.$refs.input.classList.toggle('is-focused');
    },

    filtrar(value) {
      if (!value || value.length == 0) {
        this.filtrados = [];
        return (this.buscando = false);
      }

      const fuse = new Fuse(this.disponibles, {
        keys: ['nombre', 'email'],
      });
      this.buscando = true;
      this.filtrados = fuse.search(value);
    },
  },
};
</script>
