<template>
  <div class="card">
    <div class="card-header">
      <div class="tile">
        <div class="tile-content">
          <h5># <span v-text="kanban.id"/></h5>
        </div>
        <div class="tile-action text-gray">
          Talla: 
          <span 
            class="chip" 
            v-text="subtitulo"/>
        </div>
      </div>
    </div>
    <div class="card-body">
      <article 
        v-text="kanban.descripcion"/>
    </div>
    <div class="card-body">
      <div 
        v-for="(user, i) in kanban.responsables" 
        :key="`chip-${i}`" 
        class="chip">
        <img 
          src="" 
          class="avatar avatar-sm" 
          alt="NA"
        >
        <span v-text="user.nombre"/>
      </div>
    </div>
    <div class="card-footer d-inline-flex">
      <router-link 
        :to="{ name:'kanban.editar', params: { id: kanban.id } }" 
        class="btn btn-link">
        Editar
      </router-link>
      <button 
        v-show="etapa.siguiente" 
        class="btn btn-link"
        style="margin-left: auto"
        @click="confirmarCambiarEtapa">
        Pasar a <span v-text="etapa.siguiente.nombre"/>
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Noty from 'noty';
import Axios from '../axios';

export default {
  components: {},

  props: {
    kanban: {
      type: [Object],
      default: () => {},
    },
  },

  computed: {
    ...mapState({
      etapas: state => state.etapas,
    }),

    subtitulo() {
      return this.kanban.talla.etiqueta;
    },

    etapa() {
      return this.etapas.find(({ id }) => this.kanban.etapa_id === id);
    },
  },

  methods: {
    cambiarEtapa() {
      const etapa = this.etapa.siguiente;
      const hitos = { ...this.kanban.hitos, [etapa.nombre]: new Date() };
      const payload = {
        etapa_id: etapa.id,
        hitos,
      };

      Axios.patch(`/kanbans/${this.kanban.id}`, payload).then(() => {
        this.$emit('change-etapa', { id: this.kanban.id, etapa_id: etapa.id });
      });
    },

    confirmarCambiarEtapa() {
      const notificacion = new Noty({
        theme: 'spectrecss',
        layout: 'topCenter',
        text: 'Estas seguro de cambiar la etapa del Kanban',
        buttons: [
          Noty.button('Si, seguro.', 'btn btn-success mr-1', () => {
            this.cambiarEtapa();
            notificacion.close();
          }),

          Noty.button('No, mejor no.', 'btn ml-1', () => notificacion.close()),
        ],
      });

      notificacion.show();
    },
  },
};
</script>
