<template>
  <div class="chip">
    <figure 
      class="avatar avatar-sm" 
      data-initial="NA"/>
    <span v-text="user.nombre"/>
    <a 
      v-show="hasClose"
      class="btn btn-clear" 
      aria-label="Close" 
      role="button"
      @click="$emit('close', user)"/>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type: [Object],
      default: () => {
        return {};
      },
    },
    hasClose: {
      type: [Boolean],
      default: false,
    },
  },
};
</script>
