<template>
  <form 
    ref="formulario"
    name="kanban" 
    @submit.prevent="submit">

    <div class="form-group">
      <label 
        class="form-label" 
        for="input-descripcion">Descripción</label>
      <textarea 
        id="input-descripcion"
        v-model="descripcion"
        required
        name="descripcion" 
        class="form-input" 
        placeholder="Textarea" 
        rows="2"/>
    </div>

    <div class="form-group">
      <label class="form-label">Talla</label>
      <label 
        v-for="(talla, i) in tallas" 
        :key="`radio-${i}`" 
        class="form-radio form-inline">
        <input 
          :value="talla.id"
          v-model="talla_id"
          name="talla_id"
          type="radio">
        <i class="form-icon"/> <span v-text="talla.etiqueta"/>
      </label>
    </div>
            
    <div class="form-group">
      <label class="form-label">Responsables</label>
      <autocomplete-users v-model="responsables"/>
    </div>
            
    <input 
      type="hidden" 
      name="etapa_id" 
      value="1">

    <div class="d-flex mt-1">
      <button 
        class="btn btn-link"
        type="reset" 
        @click="$emit('cancel', true)">
        Cancelar
      </button>

      <button 
        class="btn btn-success" 
        type="submit">
        Guardar
      </button>
    </div>
            
  </form>
</template>

<script>
import AutocompleteUsers from './AutocompleteUsers';
import { mapState } from 'vuex';

export default {
  components: {
    AutocompleteUsers,
  },
  props: {
    value: {
      type: [Object],
      default: () => {
        return {
          descripcion: null,
          etapa_id: 1,
          talla_id: 1,
          responsables: [],
        };
      },
    },
  },

  data() {
    return {
      talla_id: this.value.talla_id,
      descripcion: null,
      responsables: [],
    };
  },

  computed: {
    ...mapState({
      auth: state => state.auth,
      tallas: state => state.tallas,
      etapas: state => state.etapas,
    }),
  },

  watch: {
    value: {
      handler: 'setResponsables',
    },
  },

  methods: {
    setResponsables(kanban) {
      this.responsables = kanban.responsables;
      this.descripcion = kanban.descripcion;
      this.talla_id = kanban.talla_id;
    },

    limpiar() {
      document.forms.kanban.reset();
    },

    submit() {
      const { descripcion, talla_id, etapa_id } = document.forms.kanban.elements;
      this.$emit('submit', {
        descripcion: descripcion.value,
        talla_id: talla_id.value,
        etapa_id: etapa_id.value,
        autor_id: this.auth.id,
        responsables_ids: this.responsables.map(({ id }) => id),
      });
      this.limpiar();
    },
  },
};
</script>
<style scoped>
.d-flex {
  justify-content: flex-end;
}
</style>
