<template>
  <ul class="tab tab-block">
    <router-link 
      tag="li" 
      to="/develop" 
      class="tab-item">
      <a href="">
        <svg 
          class="icon"
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 20 20"><path d="M13 8V0L8.11 5.87 3 12h4v8L17 8h-4z"/></svg>
        <span>Develop</span>
      </a>
    </router-link>
    <router-link 
      tag="li" 
      to="/feedback" 
      class="tab-item">
      <a href="">
        <svg 
          class="icon"
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 20 20"><path d="M5 4a2 2 0 0 0-2 2v6H0l4 4 4-4H5V6h7l2-2H5zm10 4h-3l4-4 4 4h-3v6a2 2 0 0 1-2 2H6l2-2h7V8z"/></svg>
        <span>Feedback</span>
      </a>
    </router-link>
    <router-link 
      tag="li" 
      to="/production" 
      class="tab-item">
      <a href="">
        <svg 
          class="icon"
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 20 20"><path d="M15 9a3 3 0 0 0 3-3h2a5 5 0 0 1-5.1 5 5 5 0 0 1-3.9 3.9V17l5 2v1H4v-1l5-2v-2.1A5 5 0 0 1 5.1 11H5a5 5 0 0 1-5-5h2a3 3 0 0 0 3 3V4H2v2H0V2h5V0h10v2h5v4h-2V4h-3v5z"/></svg>
        <span>Production</span>
      </a>
    </router-link>
  </ul>
</template>

<script>
import { mapState } from 'vuex';

export default {};
</script>
