<template>
  <div 
    id="home" 
    class="page">
    <div class="container grid-lg">
      <div class="mb-3">
        <tabs-etapa/>
      </div>
      
      <div class="tile mt-2">
        <div class="tile-content">
          <h3 
            class="s-title" 
            v-text="titulo"/>
        </div>
        <div class="tile-action">
          <p> <span v-text="kanbans.length"/> / 4</p>
        </div>
      </div>
      <div 
        v-show="estaCargando" 
        class="loading loading-lg"/>
      <div class="columns">
        <div 
          v-for="(kanban, i) in kanbans" 
          :key="`column-${i}`" 
          class="column col-4 col-sm-6 col-xs-12 mb-2">
          <card-kanban 
            :kanban="kanban" 
            @change-etapa="cambiarEtapa"/>
        </div>
      </div>

      <div class="mt-2">
        <router-link 
          to="/kanban/crear" 
          class="btn btn-primary">
          Nuevo Kanban
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Axios from '../axios';
import CardKanban from '../components/CardKanban';
import TabsEtapa from '../components/TabsEtapa';

export default {
  components: {
    TabsEtapa,
    CardKanban,
  },

  data() {
    return {
      etapaId: 1,
      kanbans: [],
      estaCargando: true,
    };
  },

  computed: {
    ...mapState({
      etapas: state => state.etapas,
    }),

    titulo() {
      return `Kanbans en Develop`;
    },
  },

  watch: {
    etapaId: {
      immediate: true,
      handler: 'traerKanbans',
    },
  },

  methods: {
    cambiarEtapa({ id }) {
      this.kanbans = this.kanbans.filter(({ id: kanbanId }) => id !== kanbanId);
    },

    traerKanbans() {
      Axios.get('kanbans', { params: { etapa_id: this.etapaId, incluye: 'responsables,talla' } }).then(({ data }) => {
        this.kanbans = data;
        this.estaCargando = false;
      });
    },
  },
};
</script>
