<template>
  <div 
    id="home" 
    class="page">
    <div class="container grid-lg">
      <div class="mb-3">
        <tabs-etapa />
      </div>
      
      <div class="tile mt-2">
        <div class="tile-content">
          <h3 
            class="s-title" 
            v-text="titulo"/>
        </div>
        <div class="tile-action">
          <p class="h5">
            Lead ~ <strong v-text="promedio"/>
          </p>
        </div>
      </div>

      <div class="columns">
        <div class="column col-2 col-xs-12">
          <details 
            class="accordion c-hand">
            <summary class="accordion-header">
              <i class="icon icon-arrow-right"/>
              Usuarios
            </summary>
            <div class="accordion-body">
              <div class="form-group">
                <label 
                  v-for="(user,i) in users"
                  :key="`label-${i}`" 
                  :for="`input-user-${i}`" 
                  class="form-checkbox">
                  <input 
                    v-model="responsables"
                    :value="user.id"
                    :id="`input-user-${i}`" 
                    type="checkbox">
                  <i class="form-icon"/>
                  <span v-text="user.nombre"/>
                </label>
              </div>
            </div>
          </details>
          <details 
            class="accordion c-hand">
            <summary class="accordion-header">
              <i class="icon icon-arrow-right"/>
              Tallas
            </summary>
            <div class="accordion-body">
              <div class="form-group">
                <label 
                  v-for="(talla,i) in tallas"
                  :key="`label-${i}`" 
                  :for="`input-talla-${i}`" 
                  class="form-checkbox">
                  <input 
                    v-model="tallasIds"
                    :value="talla.id"
                    :id="`input-talla-${i}`" 
                    type="checkbox">
                  <i class="form-icon"/>
                  <span v-text="talla.etiqueta"/>
                </label>
              </div>
            </div>
          </details>
        </div>

        <div class="column col-xs-12">
          <div class="card">
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Responsables</th>
                    <th>Talla</th>
                    <th>Lead Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr 
                    v-for="(kanban,i) in filtrados" 
                    :key="`tr-${i}`">
                    <td v-text="kanban.id"/>
                    <td v-text="kanban.descripcion"/>
                    <td>
                      <chip-user 
                        v-for="(user, i) in kanban.responsables" 
                        :user="user"
                        :key="`chip-${i}`" />
                    </td>
                    <td v-text="kanban.talla.etiqueta"/>
                    <td v-text="kanban.lead_time"/>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Axios from '../axios';
import CardKanban from '../components/CardKanban';
import TabsEtapa from '../components/TabsEtapa';
import ChipUser from '../components/ChipUser';

export default {
  components: {
    ChipUser,
    TabsEtapa,
    CardKanban,
  },

  data() {
    return {
      estaCargando: true,
      tallasIds: [],
      responsables: [],
      promedio: 0,
      etapaId: 3,
      kanbans: [],
    };
  },

  computed: {
    ...mapState({
      users: state => state.users,
      tallas: state => state.tallas,
    }),

    titulo() {
      return `Kanbans en Production`;
    },

    filtrados() {
      if (this.responsables.length === 0 || this.tallas.length === 0) {
        return this.kanbans;
      }

      return this.kanbans.filter(({ talla_id, responsables }) => {
        return responsables.reduce((existe, user) => {
          if (existe) {
            return existe;
          }

          return (existe = this.responsables.includes(user.id));
        }, false);
      });
    },
  },

  watch: {
    etapaId: {
      immediate: true,
      handler: 'traerKanbans',
    },
  },

  beforeMount() {
    Axios.get('tiempos-promedios', { params: { etapa_id: 3 } }).then(({ data }) => {
      this.promedio = data.promedio;
    });
  },

  methods: {
    traerKanbans() {
      Axios.get('kanbans', { params: { etapa_id: this.etapaId, incluye: 'responsables,talla' } }).then(({ data }) => {
        this.kanbans = data;
        this.estaCargando = false;
      });
    },
  },
};
</script>
