@import "~noty/src/noty";
@import "~spectre.css/src/variables";
@import "~spectre.css/src/mixins/toast";

.noty_theme__spectrecss.noty_bar {
  @include toast-variant($dark-color);
  border: $border-width solid $dark-color;
  border-radius: $border-radius;
  color: $light-color;
  display: block;
  padding: $layout-spacing;
  width: 100%;

  .noty_body {
	padding: 10px;
  }

  .noty_buttons {
	padding: 10px;
  }

  &.noty_theme__spectrecss.noty_type__alert,
  .noty_theme__spectrecss.noty_type__notification {
    @include toast-variant($dark-color);
  }

  &.noty_theme__spectrecss.noty_type__warning {
    @include toast-variant($warning-color);
  }

  &.noty_theme__spectrecss.noty_type__error {
    @include toast-variant($error-color);
  }

  &.noty_theme__spectrecss.noty_type__info,
  .noty_theme__spectrecss.noty_type__information {
    @include toast-variant($primary-color);
  }

  &.noty_theme__spectrecss.noty_type__success {
    @include toast-variant($success-color);
  }
}
