@import 'variables';

.page {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: .6rem;
}

.card:hover{
  box-shadow: 1px 3px 5px -5px $gray-color-dark;
}

@import "~spectre.css/src/spectre";
@import "~spectre.css/src/autocomplete";
@import "~spectre.css/src/icons";
@import "noty";
