<template>
  <section class="page">
    <div class="container grid-lg">
      <div class="tile mb-2">
        <div class="tile-icon">
          <router-link :to="{ name: 'home.develop' }">
            <i class="icon icon-back"/>
            <span>Volver</span>
          </router-link>
        </div>
        <div class="tile-content"/>
        <div class="tile-action">
          <h4 class="h4" >Creando nuevo Kanban</h4>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <form-kanban 
            @submit="persistir" 
            @cancel="$router.back()" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import FormKanban from '../../components/FormKanban';
import { mapState } from 'vuex';
import Axios from '../../axios';
import Noty from 'noty';

export default {
  components: {
    FormKanban,
  },

  data() {
    return {
      responsables: [],
    };
  },

  methods: {
    persistir(payload) {
      payload = { ...payload, hitos: { develop: new Date(), feedback: null, production: null } };
      Axios.post('kanbans', payload).then(() => {
        new Noty({
          timeout: 600,
          theme: 'spectrecss',
          text: 'Kanban creado.',
          type: 'success',
        }).show();
        this.$router.back();
      });
    },
  },
};
</script>
