<template>
  <section class="page">
    <div class="container grid-lg">
      <div class="tile mb-2">
        <div class="tile-icon">
          <router-link :to="{ name: 'home.develop' }">
            <i class="icon icon-back"/>
            <span>Volver</span>
          </router-link>
        </div>
        <div class="tile-content"/>
        <div class="tile-action">
          <h4 class="h4" >Editando Kanban</h4>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <form-kanban 
            :value="kanban" 
            @submit="actualizar" 
            @cancel="$router.back()"/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import FormKanban from '../../components/FormKanban';
import Axios from '../../axios';
import Noty from 'noty';

export default {
  components: {
    FormKanban,
  },

  props: {
    id: {
      type: [String, Number],
      default: null,
    },
  },

  data() {
    return {
      kanban: {},
    };
  },

  beforeMount() {
    Axios.get(`kanbans/${this.id}`, { params: { incluye: '[responsables]' } }).then(({ data }) => (this.kanban = data));
  },

  methods: {
    actualizar(payload) {
      Axios.patch(`/kanbans/${this.id}`, payload).then(() => {
        new Noty({
          timeout: 600,
          theme: 'spectrecss',
          text: 'Kanban Editado.',
          type: 'success',
        }).show();
        this.$router.back();
      });
    },
  },
};
</script>
